<!DOCTYPE html>
<html>
<head>
  <title>Whisk</title>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,700" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <link rel="icon" href="../../favicon.ico">
</head>

<body>
  <header>
    <div class="wrapper">
      <div class="navbar-wrapper">
        <div class="container">
          <nav class="navbar navbar-inverse navbar-static-top">
            <div class="container">
              <div class="navbar-header">
                <a class="navbar-brand" style="color: white" href="/">Whisk!</a>
              </div>
              <div>
                <ul class="nav navbar-nav">
                  <li ><%= link_to "Recipes", desserts_path %></li>
                  <% if current_user %>
                  <li><%= link_to 'Signout', destroy_user_session_path, :method => :delete %></li>
                  <li><%= link_to "Profile", users_index_path %></li>
                  <% else %>
                  <li><%= link_to 'Signup', new_user_registration_path %></li>
                  <li><%= link_to 'Login', new_user_session_path %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          </nav>
        </div>
        <h1 style="font-family:'Pacifico', cursive; color: white; text-align: center; font-size: 70px; margin-top: 80px;">Cool Slogan</h1>
      </div>
    </header>
    <div class="container marketing">



              <p class="notice"><%= notice %></p>
              <p class="alert"><%= alert %></p>
              <%= yield %>
          </div><!-- /.row -->




<main>

</main>
  </body>
  </html>
