<!DOCTYPE html>
<html>
  <head>
    <title>Whisk</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1><%= link_to "Whisk!", root_path %></h1>

    <div class="user-info">
      <% if current_user %>
        Welcome, <%= current_user.email%>,  <%= current_user.username%>,  <%= current_user.id%>
        <%= link_to 'Signout', destroy_user_session_path, :method => :delete %>
        <%= link_to "Profile", users_index_path %></li>
      <% else %>
        <%= link_to 'Signup', new_user_registration_path %>
        <%= link_to 'Login', new_user_session_path %>
      <% end %>
    </div>

  <nav>
    <ul>
      <li><%= link_to "All Desserts", desserts_path %></li>
      <li><%= link_to "All Recipes", recipes_path %></li>

    </ul>
  </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
