<% if current_user %>
<div class="links">
  <ul>
<li><%= link_to "Add Recipe", new_dessert_recipe_path(@dessert) %></li>
  </ul>
</div>
<%end%>


<h3><%= @dessert.name %></h3>
<img src="<%= @dessert.dessert_image %>">

<% @dessert.recipes.each do |recipe| %>
  <p><%= link_to recipe.name, dessert_recipe_path(@dessert, recipe) %></p>
  <img src="<%= recipe.recipe_image %>">
<%end%>
