<% if current_user %>
<div class="links">
  <hr class="style_no_symbol">
  <h1 class="index_h1"><%= @dessert.name %></h1>
  <ul>
<li>&#8212<%= link_to "Add Recipe", new_dessert_recipe_path(@dessert) %>&#8212</li>
  </ul>

  <hr class="style">
</div>
<%end%>


<div class="dessert_show_wrapper">
<!-- <div class="dessert_show_hero" style="background-image: url('<%= @dessert.dessert_image %>')"></div> -->
<div class="dessert_show_recipes">
<% @dessert.recipes.each do |recipe| %>
  <div class="dessert_show_recipe_wrapper">
  <a href="/desserts/<%=recipe.dessert_id%>/recipes/<%=recipe.id%>"><img class="dessert_show_recipe" src="<%= recipe.recipe_image %>"></a>
  <h4><%= link_to recipe.name, dessert_recipe_path(@dessert, recipe) %></h4>
</div>
<%end%>
</div>
</div>
