<% if current_user %>
<div class="links">
  <ul>
<li><%= link_to "Add Recipe", new_dessert_recipe_path(@dessert) %></li>
  </ul>
</div>
<%end%>

<h1><%= @dessert.name %></h1>
<div class="dessert_show_wrapper">
<!-- <div class="dessert_show_hero" style="background-image: url('<%= @dessert.dessert_image %>')"></div> -->
<div class="dessert_show_recipes">
<% @dessert.recipes.each do |recipe| %>
  <div class="dessert_show_recipe_wrapper">
  <a href="/desserts/<%=recipe.dessert_id%>/recipes/<%=recipe.id%>"><img class="dessert_show_recipe" src="<%= recipe.recipe_image %>"></a>
  <h4><%= link_to recipe.name, dessert_recipe_path(@dessert, recipe) %></h4>
</div>
<%end%>
</div>
</div>
