<ul>
  <li><%= link_to "Edit Recipe", edit_dessert_recipe_path(@recipe.dessert_id, @recipe) %></li>
  <li><%= link_to "Delete Recipe", dessert_recipe_path(@recipe), :method => :delete %></li>
</ul>


<h1><%=@recipe.name%>
  <% if @recipe.users.include? current_user %>
  <%= link_to "&hearts;".html_safe, remove_favorite_recipe_path(@recipe), method: :delete, class: "fav" %>
  <% else %>
  <%= link_to "&hearts;".html_safe, add_favorite_recipe_path(@recipe), method: :post, class: "no-fav" %>
  <% end %>
</h1>
<img src="<%= @recipe.recipe_image %>">
<p>Recipe by: </p>
<p><%= @recipe.description %></p>
<p>Prep-time: <%= @recipe.preptime %>, Cook-time: <%= @recipe.cooktime %></p>
<% @recipe.ingredients.each do |ingredient| %>
<ul>
  <li><%= ingredient %></li>
</ul>
<%end%>
<p><%= @recipe.direction %></p>
