<% if @recipe.user == current_user %>
<ul>
  <li><%= link_to "Edit Recipe", edit_dessert_recipe_path(@recipe.dessert_id, @recipe) %></li>
  <li><%= link_to "Delete Recipe", dessert_recipe_path(@recipe), :method => :delete %></li>
</ul>
<%else%>
<%end%>


<h1><%=@recipe.name%>
  <% if @recipe.users.include? current_user %>
  <%= link_to "&hearts;".html_safe, remove_favorite_recipe_path(@recipe), method: :delete, class: "fav" %>
  <% else %>
  <%= link_to "&hearts;".html_safe, add_favorite_recipe_path(@recipe), method: :post, class: "no-fav" %>
  <% end %>
</h1>
<p>Posted: <%= @recipe.created_at.strftime("%B %d, %Y") %></p>
<img src="<%= @recipe.recipe_image %>">
<p>Recipe by: <%= @recipe.user.username %></p>
<p><%= @recipe.description %></p>
<p>Prep-time: <%= @recipe.preptime %>, Cook-time: <%= @recipe.cooktime %></p>
<% @recipe.ingredients.each do |ingredient| %>
<ul>
  <li><%= ingredient %></li>
</ul>
<%end%>
<p><%= @recipe.direction %></p>


<div class="review_wrapper">
<h2>Reviews:</h2>

<%= link_to "Add review", new_dessert_recipe_review_path(@recipe.dessert_id, @recipe) %>

<% @recipe.reviews.each do |review|%>
<p><%= review.user.username.upcase %> &#8212 <%= review.created_at.strftime("%B %d, %Y") %> </p>
<p><%= review.body %></p>
<% if review.user == current_user %>
<%= link_to "Edit review", edit_dessert_recipe_review_path(@recipe.dessert_id, @recipe, review) %>
<%= link_to "Delete review", dessert_recipe_review_path(@recipe.dessert_id, @recipe, review), :method => :delete %>
<br>
<%else%>
<%end%>
<br>
<hr>
<%end%>
</div>
