<div class="links">

<% if @recipe.user == current_user %>
<hr class="style_no_symbol">
<ul>
  <li>&#8212<%= link_to "Edit Recipe", edit_dessert_recipe_path(@recipe.dessert_id, @recipe) %>&#8212</li>
  <li>&#8212<%= link_to "Delete Recipe", dessert_recipe_path(@recipe), :method => :delete %>&#8212</li>
</ul>
<hr class="style">
<%else%>
<%end%>
</div>

<br>
<br>


<div class="recipe_wrapper">
  <div class="recipe_description">
  <h1><%=@recipe.name%>
    <% if @recipe.users.include? current_user %>
    <%= link_to "&hearts;".html_safe, remove_favorite_recipe_path(@recipe), method: :delete, class: "fav" %>
    <% else %>
    <%= link_to "&hearts;".html_safe, add_favorite_recipe_path(@recipe), method: :post, class: "no-fav" %>
    <% end %>
  </h1>
  <h4>Recipe by: <%= @recipe.user.username %>&nbsp; | &nbsp; <%= @recipe.created_at.strftime("%B %d, %Y") %></h4>
<p><%= @recipe.description %></p>
<p><em>Prep-time: <%= @recipe.preptime %> min , Cook-time: <%= @recipe.cooktime %> min</em></p>
</div>
<img class="recipe_image"src="<%= @recipe.recipe_image %>">

</div>

<h2>Ingredients</h2>
<hr>
<% @recipe.ingredients.each do |ingredient| %>
<ul>
  <li><%= ingredient %></li>
</ul>
<%end%>

<hr>
<h2>Directions</h2>
<hr>
<p><%= @recipe.direction %></p>


<div class="review_wrapper">
<hr>
<h2>Reviews</h2>
&#8212<%= link_to "Add review", new_dessert_recipe_review_path(@recipe.dessert_id, @recipe) %>&#8212
<hr>



<% @recipe.reviews.each do |review|%>
<p><em><%= review.user.username.upcase %></em> &#8212 <%= review.created_at.strftime("%B %d, %Y @ %-I:%M%p") %> </p>
<p><%= review.body %></p>
<% if review.user == current_user %>
&#8212<%= link_to "Edit review", edit_dessert_recipe_review_path(@recipe.dessert_id, @recipe, review) %>&#8212 &nbsp;
&#8212<%= link_to "Delete review", dessert_recipe_review_path(@recipe.dessert_id, @recipe, review), :method => :delete %>&#8212
<br>
<%else%>
<%end%>
<br>
<hr>
<%end%>
</div>
